on:
  release:
    types: [published]

jobs:
  release_windows:
    runs-on: ubuntu-latest
    steps:
      - name: download html
        id: download-html
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          file: html.zip
        env:
          GITHUB_TOKEN: "${{ secrets.GH_CREDENTIALS }}"
      - name: deploy to itch.io (html)
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
          CHANNEL: html
          ITCH_GAME: gravity
          ITCH_USER: cloudlight-games
          PACKAGE: html.zip
          VERSION: ${{ steps.download-html.outputs.version }}